.profile-card {
    display: flex;
    flex-direction: column;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    padding: 10px;

    max-width: 20%;
    overflow-wrap: anywhere;
}

.profile-picture {
    max-width: 100%;
    height: auto;
    display: block;
}